fetch-chat-history.json
{
  "name": "Fetch Chat History (On Demand) - V3 Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-history",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (Frontend)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/chat/findMessages/{{ $('Webhook (Frontend)').first().json.body.instance_name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n    \"where\": {\n        \"key\": {\n            \"remoteJid\": $('Webhook (Frontend)').first().json.body.chat_id\n        }\n    },\n    \"options\": {\n        \"limit\": 60,\n        \"cursor\": {\n            \"before\": {\n                \"id\": $('Webhook (Frontend)').first().json.body.cursor_id\n            }\n        }\n    }\n} }}",
        "options": {}
      },
      "id": "get-history-evo",
      "name": "Get History (Evolution)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CWBY9me7mGfNfhh5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/instances?name=eq.{{ $json.body.instance_name }}&select=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "get-instance-uuid",
      "name": "Get Instance UUID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "zuQ9RKLERDxelcJf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceId = $('Get Instance UUID').first().json.id;\nconst chatId = $('Webhook (Frontend)').first().json.body.chat_id;\nconst responseData = $input.all()[0].json;\n\n// Tratamento para resposta paginada ou array direto\nlet messages = [];\nif (responseData.messages && responseData.messages.records) {\n    messages = responseData.messages.records;\n} else if (Array.isArray(responseData)) {\n    messages = responseData;\n}\n\nconst normalizedMessages = [];\n\nfunction mapMessageType(evoType) {\n    const typeMap = {\n        'conversation': 'text',\n        'extendedTextMessage': 'text',\n        'imageMessage': 'image',\n        'videoMessage': 'video',\n        'audioMessage': 'audio',\n        'documentMessage': 'document',\n        'stickerMessage': 'sticker',\n        'locationMessage': 'location',\n        'contactMessage': 'contact',\n        'protocolMessage': 'system',\n        'ephemeralMessage': 'system',\n        'ptvMessage': 'video'\n    };\n    return typeMap[evoType] || 'text';\n}\n\nmessages.forEach(m => {\n    const key = m.key || {};\n    const messageId = key.id;\n    if (!messageId) return;\n\n    const content = m.message?.conversation || \n                    m.message?.extendedTextMessage?.text || \n                    m.message?.imageMessage?.caption || \n                    'Media/Other';\n    \n    const rawType = Object.keys(m.message || {})[0] || 'conversation';\n    const messageType = mapMessageType(rawType);\n\n    // Extração simplificada de Mídia\n    const mediaMsg = m.message?.[rawType];\n    let mediaUrl = null;\n    if (mediaMsg && typeof mediaMsg === 'object') {\n        mediaUrl = mediaMsg.url || null;\n    }\n\n    // Contexto (Citação)\n    const contextInfo = m.message?.[rawType]?.contextInfo || m.contextInfo;\n\n    normalizedMessages.push({\n        message_id: messageId,\n        chat_id: chatId,\n        instance_id: instanceId,\n        content: content,\n        from_me: key.fromMe || false,\n        timestamp_msg: m.messageTimestamp ? new Date(m.messageTimestamp * 1000).toISOString() : new Date().toISOString(),\n        status: m.status || 'delivered',\n        message_type: messageType,\n        media_url: mediaUrl,\n        metadata: {\n            contextInfo: contextInfo\n        }\n    });\n});\n\nreturn normalizedMessages;"
      },
      "id": "normalize-history",
      "name": "Normalize History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages?on_conflict=message_id,chat_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "upsert-history",
      "name": "Upsert History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "zuQ9RKLERDxelcJf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-frontend",
      "name": "Respond to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (Frontend)": {
      "main": [
        [
          {
            "node": "Get Instance UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instance UUID": {
      "main": [
        [
          {
            "node": "Get History (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History (Evolution)": {
      "main": [
        [
          {
            "node": "Normalize History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize History": {
      "main": [
        [
          {
            "node": "Upsert History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert History": {
      "main": [
        [
          {
            "node": "Respond to Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}