initial_sync.json
{
  "name": "Initial Sync (EvolutionAPI -> Supabase)",
  "nodes": [
    {
      "parameters": {},
      "id": "91d63220-a92e-4203-8f45-159677f0b23d",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1312,
        -96
      ]
    },
    {
      "parameters": {
        "url": "=https://evo.zapneuronz.com.br/instance/fetchInstances",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "95cfca28-b167-4a0f-b52a-0528c0f91196",
      "name": "Fetch Instances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1360,
        -96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wDjVZ1Dbe26c2YVQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const supabaseData = [];\n// Using the user_id from the user's example as fallback. \n// WARNING: This ID must exist in auth.users for the foreign key constraint to pass.\nconst FALLBACK_USER_ID = '512c51e1-f250-46f0-826f-824ffe112c6a';\n\nfunction mapStatus(status, connectionStatus) {\n    let s = (connectionStatus || status || '').toLowerCase();\n    if (s === 'open' || s === 'connected') return 'connected';\n    if (s === 'close' || s === 'disconnected') return 'disconnected';\n    if (s === 'connecting') return 'connecting';\n    if (s === 'qr' || s === 'qrcode') return 'qr_code';\n    return 'disconnected';\n}\n\nfunction processInstance(inst) {\n    const name = inst.instanceName || inst.name;\n    \n    if (name) {\n        const now = new Date().toISOString();\n        supabaseData.push({\n            name: name,\n            evolution_instance_id: inst.instanceId || inst.id || inst.name,\n            phone: inst.phoneNumber || (inst.ownerJid && inst.ownerJid.includes('@') ? inst.ownerJid.split('@')[0].split(':')[0] : (inst.owner && !inst.owner.includes('@') ? inst.owner : null)),\n            status: mapStatus(inst.status, inst.connectionStatus),\n            qr_code: inst.qrcode || inst.base64 || null,\n            profile_pic_url: inst.profilePictureUrl || null,\n            webhook_url: inst.webhook || (inst.webhookUrl ? inst.webhookUrl : null),\n            settings: inst.settings ? JSON.stringify(inst.settings) : null,\n            last_seen: now,\n            user_id: inst.owner || inst.user_id || FALLBACK_USER_ID,\n            created_at: now,\n            updated_at: now\n        });\n    }\n}\n\nfor (const item of items) {\n    const data = item.json;\n    if (Array.isArray(data)) {\n        for (const subItem of data) {\n            processInstance(subItem.instance || subItem);\n        }\n    } else {\n        processInstance(data.instance || data);\n    }\n}\n\nreturn [{ json: { data: supabaseData } }];"
      },
      "id": "1c9a8215-735e-42eb-afe1-449ad16a313d",
      "name": "Prepare Instance Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://agsvbhzvlwygpnxygtnt.supabase.co/rest/v1/instances?on_conflict=evolution_instance_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "ff357fb4-0b2c-46f3-b13b-fa1c22b716c6",
      "name": "Upsert Instances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -960,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5giRdkHvRJY0ru7a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b109c482-0657-4372-8282-fc2984e6e27c",
      "name": "Split Instances",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -864,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.zapneuronz.com.br/chat/findContacts/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0c6cee23-35ea-4285-b17d-0572af7b7460",
      "name": "Get Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -640,
        -192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wDjVZ1Dbe26c2YVQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://evo.zapneuronz.com.br/group/fetchAllGroups/{{ $json.name }}?getParticipants=false",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "e19ae05d-ce04-4508-8258-e653f1db4ec2",
      "name": "Get Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -640,
        16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wDjVZ1Dbe26c2YVQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "instance_id",
              "value": "={{ $('Split Instances').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "27ae0a19-6999-4f87-8826-a92ac55c32ef",
      "name": "Add Instance ID Contacts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -544,
        -192
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "instance_id",
              "value": "={{ $('Split Instances').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2590c848-e464-400c-9a02-33a28642399a",
      "name": "Add Instance ID Groups",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -544,
        16
      ]
    },
    {
      "parameters": {},
      "id": "35790b30-3342-4523-be90-5e3696f422d4",
      "name": "Merge Contacts & Groups",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -432,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use $input.all() to get all items from the Merge node (Append mode)\nconst items = $input.all();\n\nif (items.length === 0) return [];\n\n// Extract instanceId from the first item. \n// Prioritize 'instance_id' (injected Supabase ID) over 'instanceId' (Evolution ID).\nlet instanceId = items[0].json.instance_id;\n\n// Fallback: Try to get it directly from Split Instances node if missing in items\nif (!instanceId) {\n    try {\n        instanceId = $('Split Instances').first().json.id;\n    } catch (e) {\n        // ignore\n    }\n}\n\nif (!instanceId) {\n    throw new Error(`Instance ID is missing! Value: ${instanceId}, keys: ${Object.keys(items[0].json).join(', ')}`);\n}\n\nconst contactsMap = {};\n\nfunction getPhone(item) {\n    if (item.phoneNumber) return item.phoneNumber;\n    // Removed item.number check as it seems to be an internal ID\n    \n    // Prioritize explicit JID fields\n    const jid = item.remoteJid || item.jid;\n    if (jid && jid.includes('@')) {\n        return jid.split('@')[0].split(':')[0];\n    }\n    \n    // Fallback to id only if it looks like a JID\n    if (item.id && item.id.includes('@')) {\n        return item.id.split('@')[0].split(':')[0];\n    }\n    \n    return null;\n}\n\nitems.forEach((itemObj, index) => {\n    const item = itemObj.json;\n    const id = item.remoteJid || item.id || item.jid;\n    const phone = getPhone(item);\n    if (!phone) return;\n\n    const isGroup = item.type === 'group' || item.isGroup === true || (id && id.includes('@g.us'));\n    const pic = item.profilePicUrl || item.profilePictureUrl || null;\n    \n    // Determine name properties\n    // Groups usually have 'subject'. Contacts have 'name', 'pushName', 'notify'.\n    const name = item.subject || item.name || item.pushName || item.notify || phone;\n    const pushName = item.pushName || item.notify || item.subject;\n\n    if (!contactsMap[phone]) {\n        contactsMap[phone] = {\n            json: {\n                phone: phone,\n                name: name,\n                push_name: pushName,\n                profile_pic_url: pic,\n                is_group: isGroup,\n                group_metadata: isGroup ? item : null,\n                instance_id: instanceId\n            },\n            // Pair with the current input item to preserve lineage as much as possible,\n            // or pair with the first item [0] if we want to treat them all as children of the batch.\n            // Since we are aggregating, pairing with 0 is safer for the 'Split Instances' reference.\n            pairedItem: { item: 0 }\n        };\n    } else {\n        const existing = contactsMap[phone].json;\n        \n        // Update profile pic if new one is present\n        if (pic) existing.profile_pic_url = pic;\n        \n        // Update name if we found a better one (e.g. not just the phone number)\n        if (name && name !== phone) existing.name = name;\n        \n        // If it's a group, ensure is_group is true and update metadata if this item looks like it has more info (e.g. subject)\n        if (isGroup) {\n            existing.is_group = true;\n            if (item.subject || item.participants) {\n                existing.group_metadata = item;\n            }\n        }\n    }\n});\n\nreturn Object.values(contactsMap);"
      },
      "id": "67264f6c-ee9e-418b-9945-2baa2611fe77",
      "name": "Normalize Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://agsvbhzvlwygpnxygtnt.supabase.co/rest/v1/contacts?on_conflict=phone,instance_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "9cf798a7-d30d-44cb-9568-088e8bc101e9",
      "name": "Upsert Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        32,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5giRdkHvRJY0ru7a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceId = $('Split Instances').item.json.id;\nconst instanceName = $('Split Instances').item.json.name;\n\nif (!instanceName) {\n    throw new Error(\"Instance Name is missing! Check Split Instances node.\");\n}\n\n// Use $input.all() to get the output from 'Upsert Contacts' which has the Supabase UUIDs\n// Supabase returns an array of inserted rows, so we flat() to get a single list of objects\nconst contacts = $input.all().map(i => i.json).flat();\nconst contactMap = {};\n\ncontacts.forEach(c => {\n    if (c.phone && c.id) {\n        // Store both ID and profile pic URL\n        contactMap[c.phone] = {\n            id: c.id,\n            profile_pic_url: c.profile_pic_url\n        };\n    }\n});\n\nreturn [{\n    json: { contactMap, instanceId, instanceName },\n    pairedItem: { item: 0 }\n}];"
      },
      "id": "7a394f67-1a26-4c3b-aec7-8d9e0e3de9a5",
      "name": "Create Contact Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.zapneuronz.com.br/chat/findChats/{{ $json.instanceName.trim() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "9ffa46b0-5900-468d-9ad5-c6b82b3cf7ed",
      "name": "Get Chats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        464,
        -96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wDjVZ1Dbe26c2YVQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceId = $('Split Instances').item.json.id;\nconst contactMap = $('Create Contact Map').item.json.contactMap;\nconst chats = $input.all().map(i => i.json);\n\nconst normalizedChats = [];\n\n// DEBUG: Check if map is populated\nconst mapKeys = Object.keys(contactMap || {});\nif (mapKeys.length === 0) {\n    throw new Error(\"Contact Map is empty!\");\n}\n\nchats.forEach(chat => {\n    if (Array.isArray(chat)) {\n        chat.forEach(c => processChat(c));\n    } else {\n        processChat(chat);\n    }\n});\n\nfunction processChat(c) {\n    // IMPORTANT: Use remoteJid (WhatsApp chat ID), NOT id (Evolution's internal ID)\n    const remoteJid = c.remoteJid || c.id;\n    if (!remoteJid) return;\n    \n    const phone = remoteJid.split('@')[0].split(':')[0];\n    \n    // Get contact ID from map (now contains object {id, profile_pic_url})\n    const contactData = contactMap[phone];\n    const contactId = contactData ? contactData.id : null;\n    \n    // DEBUG: Log first failure\n    if (!contactId && normalizedChats.length === 0) {\n         // throw new Error(`Debug: Phone ${phone} not found in map. Map keys sample: ${mapKeys.slice(0, 5).join(', ')}`);\n    }\n    \n    // Extract last message content\n    const lastMsgObj = c.lastMessage;\n    const content = lastMsgObj?.message?.conversation || \n                    lastMsgObj?.message?.extendedTextMessage?.text || \n                    lastMsgObj?.message?.imageMessage?.caption || \n                    (lastMsgObj ? 'Media/Other' : null);\n\n    normalizedChats.push({\n        chat_id: remoteJid,\n        instance_id: instanceId,\n        contact_id: contactId,\n        unread_count: c.unreadCount || 0,\n        last_message_time: c.conversationTimestamp ? new Date(c.conversationTimestamp * 1000).toISOString() : new Date().toISOString(),\n        last_message: content\n    });\n}\n\n// DEBUG: Throw error to see output\n// const sample = normalizedChats.find(c => c.contact_id === null);\n// if (sample) {\n//    throw new Error(`Failed to map contact! Chat: ${sample.chat_id}, Phone: ${sample.chat_id.split('@')[0]}, Map Sample: ${mapKeys.slice(0, 5)}`);\n// }\n\nreturn normalizedChats;"
      },
      "id": "2d5bc9a8-d7fa-4669-bf83-0438916b1d26",
      "name": "Normalize Chats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://agsvbhzvlwygpnxygtnt.supabase.co/rest/v1/chats?on_conflict=chat_id,instance_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "7c3193d0-84fc-4278-a684-5c72fa621f18",
      "name": "Upsert Chats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5giRdkHvRJY0ru7a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceName = $('Split Instances').item.json.name;\nconst items = $input.all();\nconst chatMap = {};\n\nreturn items.map((item, index) => {\n    // Supabase returns an array of inserted rows, take the first one\n    const c = Array.isArray(item.json) ? item.json[0] : item.json;\n    chatMap[c.chat_id] = c.id;\n    c.instanceName = instanceName;\n    return {\n        json: c,\n        pairedItem: { item: index }\n    };\n});"
      },
      "id": "047350df-9204-4d6d-9299-6c24670fd5c9",
      "name": "Create Chat Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -96
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "81aca16f-9c34-4653-ab9b-1ca9c281d508",
      "name": "Split Chats",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.zapneuronz.com.br/chat/findMessages/{{ $json.instanceName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"where\": { \"key\": { \"remoteJid\": $json.chat_id } }, \"limit\": 60 } }}",
        "options": {}
      },
      "id": "2989ff2e-9f20-453c-8b0d-85a8bb5d1473",
      "name": "Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1568,
        -96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wDjVZ1Dbe26c2YVQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceId = $('Split Instances').item.json.id;\nconst chatUuid = $('Split Chats').item.json.id;\nconst chatRemoteJid = $('Split Chats').item.json.chat_id;\nconst contactMapData = $('Create Contact Map').first().json.contactMap;\nconst items = $input.all();\n\nconst normalizedMessages = [];\n\n// Map Evolution API message types to database-valid types\nfunction mapMessageType(evoType) {\n    const typeMap = {\n        'conversation': 'text',\n        'extendedTextMessage': 'text',\n        'imageMessage': 'image',\n        'videoMessage': 'video',\n        'audioMessage': 'audio',\n        'documentMessage': 'document',\n        'stickerMessage': 'sticker',\n        'locationMessage': 'location',\n        'contactMessage': 'contact',\n        'protocolMessage': 'system',\n        'ephemeralMessage': 'system',\n        'ptvMessage': 'video'\n    };\n    return typeMap[evoType] || 'text';\n}\n\nitems.forEach((itemObj, index) => {\n    const data = itemObj.json;\n    \n    // Handle Evolution API paginated response structure\n    let messages = [];\n    if (data.messages && data.messages.records) {\n        // Paginated response: { messages: { records: [...] } }\n        messages = data.messages.records;\n    } else if (Array.isArray(data)) {\n        // Direct array\n        messages = data;\n    } else {\n        // Single message object\n        messages = [data];\n    }\n    \n    messages.forEach(m => processMessage(m, index));\n});\n\nfunction processMessage(m, parentIndex) {\n    const key = m.key || {};\n    const messageId = key.id;\n    if (!messageId) return;\n    \n    // Extract participant\n    // For group chats, participant is in key.participant\n    // For direct chats, it might be key.remoteJid (if not from me)\n    let participant = key.participant || key.remoteJid;\n    \n    // If participant has @lid, we might want to use participantAlt (phone number) if available\n    // But usually the contact map is keyed by phone number (user ID part of JID)\n    if (key.participantAlt) {\n        participant = key.participantAlt;\n    }\n    \n    const participantPhone = participant ? participant.split('@')[0].split(':')[0] : null;\n    \n    // Get contact data from map (now contains id and profile_pic_url)\n    const contactData = participantPhone ? contactMapData[participantPhone] : null;\n    const contactId = contactData ? contactData.id : null;\n    const thumbnailPath = contactData ? contactData.profile_pic_url : null;\n    \n    const content = m.message?.conversation || m.message?.extendedTextMessage?.text || m.message?.imageMessage?.caption || 'Media/Other';\n    \n    // Get the raw message type from Evolution API\n    const rawType = Object.keys(m.message || {})[0] || 'conversation';\n    const messageType = mapMessageType(rawType);\n    \n    // Extract media info if available\n    let mediaUrl = null;\n    let mediaPath = null;\n    let mediaSize = null;\n    let mediaMimeType = null;\n    \n    const mediaMsg = m.message?.[rawType];\n    if (mediaMsg && typeof mediaMsg === 'object') {\n        mediaUrl = mediaMsg.url || null;\n        mediaPath = mediaMsg.directPath || null;\n        mediaSize = mediaMsg.fileLength?.low || mediaMsg.fileLength || null;\n        mediaMimeType = mediaMsg.mimetype || null;\n    }\n\n    // Extract quoted message ID\n    const contextInfo = m.message?.[rawType]?.contextInfo || m.contextInfo;\n    const quotedMessageId = contextInfo?.stanzaId || null;\n    \n    // Construct Metadata object\n    const metadata = {\n        media: (mediaUrl || mediaPath || mediaMimeType) ? {\n            url: mediaUrl,\n            path: mediaPath,\n            mimetype: mediaMimeType\n        } : null,\n        sticker: m.message?.stickerMessage || null,\n        location: m.message?.locationMessage || null,\n        pushName: m.pushName || null,\n        rawMessage: m,\n        webhookSource: 'evolution'\n    };\n\n    normalizedMessages.push({\n        json: {\n            message_id: messageId,\n            chat_id: chatRemoteJid,\n            chat_table_id: chatUuid,\n            contact_id: contactId,\n            instance_id: instanceId,\n            content: content,\n            from_me: key.fromMe || false,\n            timestamp_msg: m.messageTimestamp ? new Date(m.messageTimestamp * 1000).toISOString() : new Date().toISOString(),\n            status: m.status || 'delivered',\n            message_type: messageType,\n            thumbnail_path: thumbnailPath,\n            media_url: mediaUrl,\n            media_path: mediaPath,\n            media_size: mediaSize,\n            media_mime_type: mediaMimeType,\n            quoted_message_id: quotedMessageId,\n            participant: participant, // Populate the participant column\n            metadata: metadata // Populate the metadata column\n        },\n        pairedItem: { item: parentIndex }\n    });\n}\n\nreturn normalizedMessages;"
      },
      "id": "854453e8-ef2c-490f-9120-3adc541382e6",
      "name": "Normalize Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://agsvbhzvlwygpnxygtnt.supabase.co/rest/v1/messages?on_conflict=message_id,chat_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "c7092426-73d5-4bdb-bd13-60e3da494760",
      "name": "Upsert Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2016,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5giRdkHvRJY0ru7a",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Fetch Instances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instances": {
      "main": [
        [
          {
            "node": "Prepare Instance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Instance Data": {
      "main": [
        [
          {
            "node": "Upsert Instances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Instances": {
      "main": [
        [
          {
            "node": "Split Instances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Instances": {
      "main": [
        [
          {
            "node": "Get Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Groups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "main": [
        [
          {
            "node": "Add Instance ID Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Groups": {
      "main": [
        [
          {
            "node": "Add Instance ID Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Instance ID Contacts": {
      "main": [
        [
          {
            "node": "Merge Contacts & Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Instance ID Groups": {
      "main": [
        [
          {
            "node": "Merge Contacts & Groups",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Contacts & Groups": {
      "main": [
        [
          {
            "node": "Normalize Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Contacts": {
      "main": [
        [
          {
            "node": "Upsert Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contacts": {
      "main": [
        [
          {
            "node": "Create Contact Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact Map": {
      "main": [
        [
          {
            "node": "Get Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chats": {
      "main": [
        [
          {
            "node": "Normalize Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chats": {
      "main": [
        [
          {
            "node": "Upsert Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Chats": {
      "main": [
        [
          {
            "node": "Create Chat Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Chat Map": {
      "main": [
        [
          {
            "node": "Split Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Chats": {
      "main": [
        [
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "main": [
        [
          {
            "node": "Normalize Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Messages": {
      "main": [
        [
          {
            "node": "Upsert Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Messages": {
      "main": [
        [
          {
            "node": "Split Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ffeec760-1cc8-48fd-8145-d73762059077",
  "meta": {
    "instanceId": "028b54764a5e82c8feecad5f0f0b75a6ce3b8ee71394c70dfbaeff0ffd685c7c"
  },
  "id": "e6CHm52XuKdrB9Mm",
  "tags": []
}