initial_sync.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "306c529f-e39e-4baf-b444-f937df042eb0",
      "name": "Ao Clicar em Executar",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4112,
        224
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTION_API_URL }}/instance/fetchInstances",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "e35194b6-855f-48cf-99fa-d11f53713ee4",
      "name": "Fetch Instances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3872,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bdV4KzVLOl2zXjTm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const supabaseData = [];\nconst FALLBACK_USER_ID = $env.DEFAULT_OWNER_ID || '00000000-0000-0000-0000-000000000000';\n\nfunction mapStatus(status, connectionStatus) {\n    let s = (connectionStatus || status || '').toLowerCase();\n    if (s === 'open' || s === 'connected') return 'connected';\n    if (s === 'close' || s === 'disconnected') return 'disconnected';\n    if (s === 'connecting') return 'connecting';\n    if (s === 'qr' || s === 'qrcode') return 'qr_code';\n    return 'disconnected';\n}\n\nfunction processInstance(inst) {\n    const name = inst.instanceName || inst.name;\n    \n    if (name) {\n        const now = new Date().toISOString();\n        supabaseData.push({\n            name: name,\n            evolution_instance_id: inst.instanceId || inst.id || inst.name,\n            phone: inst.phoneNumber || (inst.ownerJid && inst.ownerJid.includes('@') ? inst.ownerJid.split('@')[0].split(':')[0] : (inst.owner && !inst.owner.includes('@') ? inst.owner : null)),\n            status: mapStatus(inst.status, inst.connectionStatus),\n            qr_code: inst.qrcode || inst.base64 || null,\n            profile_pic_url: inst.profilePictureUrl || null,\n            webhook_url: inst.webhook || (inst.webhookUrl ? inst.webhookUrl : null),\n            settings: inst.settings ? JSON.stringify(inst.settings) : null,\n            last_seen: now,\n            user_id: inst.owner || inst.user_id || inst.metadata?.user_id || FALLBACK_USER_ID,\n            created_at: now,\n            updated_at: now\n        });\n    }\n}\n\nfor (const item of items) {\n    const data = item.json;\n    if (Array.isArray(data)) {\n        for (const subItem of data) {\n            processInstance(subItem.instance || subItem);\n        }\n    } else {\n        processInstance(data.instance || data);\n    }\n}\n\nreturn [{ json: { data: supabaseData } }];"
      },
      "id": "c7962a8d-102f-41fb-8291-769a007a646e",
      "name": "Prepare Instance Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/instances?on_conflict=evolution_instance_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "494c549d-2f95-49e6-8ebb-eb95d8172aae",
      "name": "Upsert Instances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3472,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WmRiFsat1TaOUULN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7d4bdb63-5f33-4f70-b869-8417eefd7d08",
      "name": "Split Instances",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3264,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/chat/findContacts/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "526ad8f3-0e21-44b4-ab47-138ce2a6b76e",
      "name": "Get Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3040,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bdV4KzVLOl2zXjTm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTION_API_URL }}/group/fetchAllGroups/{{ $json.name }}?getParticipants=false",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2404ddd0-8a2b-48d5-a1c4-888c48916b71",
      "name": "Get Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3040,
        336
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bdV4KzVLOl2zXjTm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "instance_id",
              "value": "={{ $('Split Instances').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "67f06f45-d5e7-4bbb-9b02-ea459bd13286",
      "name": "Add Instance ID Contacts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2880,
        128
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "instance_id",
              "value": "={{ $('Split Instances').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5eb2d88-7ad4-4e0a-b3d8-79aaa9d932e7",
      "name": "Add Instance ID Groups",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2880,
        336
      ]
    },
    {
      "parameters": {},
      "id": "721880b2-0c01-48c3-8a91-035a8bcd239e",
      "name": "Merge Contacts & Groups",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -2688,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\n\nlet instanceId = items[0].json.instance_id;\nif (!instanceId) {\n    try {\n        instanceId = $('Split Instances').first().json.id;\n    } catch (e) {}\n}\n\nconst contactsMap = {};\n\nfunction getPhone(item) {\n    if (item.phoneNumber) return item.phoneNumber;\n    const jid = item.remoteJid || item.jid || item.id;\n    if (jid && jid.includes('@')) {\n        return jid.split('@')[0].split(':')[0];\n    }\n    return null;\n}\n\nitems.forEach((itemObj, index) => {\n    const item = itemObj.json;\n    const phone = getPhone(item);\n    if (!phone) return;\n\n    const id = item.remoteJid || item.id || item.jid;\n    const isGroup = item.type === 'group' || item.isGroup === true || (id && id.includes('@g.us'));\n    const pic = item.profilePicUrl || item.profilePictureUrl || null;\n    \n    const nameInAgenda = item.name; \n    const pushName = item.pushName || item.notify || item.verifiedName;\n    const subject = item.subject;\n\n    let finalName = nameInAgenda || subject;\n    if (!finalName || finalName === phone) {\n        if (pushName) finalName = pushName;\n    }\n    if (!finalName) finalName = phone;\n\n    if (!contactsMap[phone]) {\n        contactsMap[phone] = {\n            json: {\n                phone: phone,\n                name: finalName,\n                push_name: pushName,\n                profile_pic_url: pic,\n                is_group: isGroup,\n                group_metadata: isGroup ? item : null,\n                instance_id: instanceId\n            },\n            pairedItem: { item: 0 }\n        };\n    } else {\n        const existing = contactsMap[phone].json;\n        if (pic) existing.profile_pic_url = pic;\n        if (finalName && finalName !== phone && existing.name === phone) existing.name = finalName;\n    }\n});\n\nreturn Object.values(contactsMap);"
      },
      "id": "aacd11eb-99e5-4064-824d-2bf5a35e014b",
      "name": "Normalize Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2512,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?on_conflict=phone,instance_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "e10412e1-19ef-497d-ad44-422306b064a9",
      "name": "Upsert Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2304,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WmRiFsat1TaOUULN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceId = $('Split Instances').item.json.id;\nconst instanceName = $('Split Instances').item.json.name;\nconst contacts = $input.all().map(i => i.json).flat();\nconst contactMap = {};\n\ncontacts.forEach(c => {\n    if (c.phone && c.id) {\n        contactMap[c.phone] = {\n            id: c.id,\n            profile_pic_url: c.profile_pic_url\n        };\n    }\n});\n\nreturn [{\n    json: { contactMap, instanceId, instanceName },\n    pairedItem: { item: 0 }\n}];"
      },
      "id": "211393dc-004a-40a6-a7b1-8dce7c909452",
      "name": "Create Contact Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/chat/findChats/{{ $json.instanceName.trim() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0b10cb7b-5d57-4987-9e34-fc91b8cd4990",
      "name": "Get Chats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1904,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bdV4KzVLOl2zXjTm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceId = $('Create Contact Map').first().json.instanceId;\nconst contactMap = $('Create Contact Map').first().json.contactMap;\nconst chats = $input.all().map(i => i.json);\nconst normalizedChats = [];\n\nchats.forEach(chat => {\n    if (Array.isArray(chat)) {\n        chat.forEach(c => processChat(c));\n    } else {\n        processChat(chat);\n    }\n});\n\nfunction processChat(c) {\n    const remoteJid = c.remoteJid || c.id;\n    if (!remoteJid) return;\n    \n    const phone = remoteJid.split('@')[0].split(':')[0];\n    const contactData = contactMap[phone];\n    const contactId = contactData ? contactData.id : null;\n    \n    const lastMsgObj = c.lastMessage;\n    const content = lastMsgObj?.message?.conversation || \n                    lastMsgObj?.message?.extendedTextMessage?.text || \n                    lastMsgObj?.message?.imageMessage?.caption || \n                    (lastMsgObj ? 'Media/Other' : null);\n\n    normalizedChats.push({\n        chat_id: remoteJid,\n        instance_id: instanceId,\n        contact_id: contactId,\n        unread_count: c.unreadCount || 0,\n        last_message_time: c.conversationTimestamp ? new Date(c.conversationTimestamp * 1000).toISOString() : new Date().toISOString(),\n        last_message: content\n    });\n}\n\nreturn normalizedChats;"
      },
      "id": "7254498a-1fb4-4815-84dd-1b66566362e6",
      "name": "Normalize Chats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/chats?on_conflict=chat_id,instance_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "aa38be1a-8cd8-4b40-9909-f11ef82493ad",
      "name": "Upsert Chats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1504,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WmRiFsat1TaOUULN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Busca Resiliente do Nome da Instância\nlet instanceName = null;\n\ntry {\n    const prevNode = $('Create Contact Map').first().json;\n    instanceName = prevNode.instanceName || prevNode.instance_name;\n} catch (e) {}\n\nif (!instanceName) {\n    try {\n        const splitNode = $('Split Instances').item.json;\n        instanceName = splitNode.name || splitNode.instanceName || splitNode.id;\n    } catch (e) {}\n}\n\n// Se não achou nome, o nó IF vai barrar. Aqui só garantimos estrutura.\nconst safeInstanceName = instanceName ? encodeURIComponent(String(instanceName).trim()) : null;\n\nconst items = $input.all();\nif (items.length === 0) return [];\n\nreturn items.map((item, index) => {\n    const c = Array.isArray(item.json) ? item.json[0] : item.json;\n    if (!c || !c.chat_id) return { json: { _ignore: true } };\n\n    c.instanceName = safeInstanceName;\n    return {\n        json: c,\n        pairedItem: { item: index }\n    };\n}).filter(i => !i.json._ignore);"
      },
      "id": "7b17c9ec-5d82-4b04-9357-f54e8a4df4a5",
      "name": "Create Chat Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2473c5bd-84de-4055-a7eb-dea374ff58be",
      "name": "Split Chats",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1104,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.instanceName }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8440a7c9-8e34-4f2b-a10d-5841298649e7",
      "name": "Check Instance Name",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -880,
        224
      ],
      "notes": "Válvula de Segurança para não gerar 404"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/chat/findMessages/{{ $json.instanceName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"where\": { \"key\": { \"remoteJid\": $json.chat_id } }, \"limit\": 60 } }}",
        "options": {}
      },
      "id": "12932282-7fa2-4d9c-838e-2db98c04bd13",
      "name": "Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -672,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bdV4KzVLOl2zXjTm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceId = $('Split Instances').item.json.id;\nconst chatUuid = $('Split Chats').item.json.id;\nconst chatRemoteJid = $('Split Chats').item.json.chat_id;\nconst contactMapData = $('Create Contact Map').first().json.contactMap;\nconst items = $input.all();\nconst normalizedMessages = [];\n\nfunction mapMessageType(evoType) {\n    const typeMap = {\n        'conversation': 'text',\n        'extendedTextMessage': 'text',\n        'imageMessage': 'image',\n        'videoMessage': 'video',\n        'audioMessage': 'audio',\n        'documentMessage': 'document',\n        'stickerMessage': 'sticker',\n        'locationMessage': 'location',\n        'contactMessage': 'contact',\n        'protocolMessage': 'system',\n        'ephemeralMessage': 'system',\n        'ptvMessage': 'video'\n    };\n    return typeMap[evoType] || 'text';\n}\n\nitems.forEach((itemObj, index) => {\n    const data = itemObj.json;\n    let messages = [];\n    if (data.messages && data.messages.records) {\n        messages = data.messages.records;\n    } else if (Array.isArray(data)) {\n        messages = data;\n    } else {\n        messages = [data];\n    }\n    messages.forEach(m => processMessage(m, index));\n});\n\nfunction processMessage(m, parentIndex) {\n    const key = m.key || {};\n    const messageId = key.id;\n    if (!messageId) return;\n    \n    let participant = key.participant || key.remoteJid;\n    if (key.participantAlt) participant = key.participantAlt;\n    const participantPhone = participant ? participant.split('@')[0].split(':')[0] : null;\n    const contactData = participantPhone ? contactMapData[participantPhone] : null;\n    const contactId = contactData ? contactData.id : null;\n    \n    const content = m.message?.conversation || m.message?.extendedTextMessage?.text || m.message?.imageMessage?.caption || 'Media/Other';\n    const rawType = Object.keys(m.message || {})[0] || 'conversation';\n    const messageType = mapMessageType(rawType);\n    \n    let mediaUrl = null;\n    const mediaMsg = m.message?.[rawType];\n    if (mediaMsg && typeof mediaMsg === 'object') {\n        mediaUrl = mediaMsg.url || null;\n    }\n\n    normalizedMessages.push({\n        json: {\n            message_id: messageId,\n            chat_id: chatRemoteJid,\n            chat_table_id: chatUuid,\n            contact_id: contactId,\n            instance_id: instanceId,\n            content: content,\n            from_me: key.fromMe || false,\n            timestamp_msg: m.messageTimestamp ? new Date(m.messageTimestamp * 1000).toISOString() : new Date().toISOString(),\n            status: m.status || 'delivered',\n            message_type: messageType,\n            media_url: mediaUrl,\n            participant: participant,\n            metadata: { rawMessage: m, webhookSource: 'initial_sync' }\n        },\n        pairedItem: { item: parentIndex }\n    });\n}\n\nreturn normalizedMessages;"
      },
      "id": "c24c1113-3706-417d-8bec-77c6d002ee1f",
      "name": "Normalize Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages?on_conflict=message_id,chat_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "486422cf-547b-40de-a5e1-d364fcf3996c",
      "name": "Upsert Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -224,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WmRiFsat1TaOUULN",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Ao Clicar em Executar": {
      "main": [
        [
          {
            "node": "Fetch Instances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instances": {
      "main": [
        [
          {
            "node": "Prepare Instance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Instance Data": {
      "main": [
        [
          {
            "node": "Upsert Instances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Instances": {
      "main": [
        [
          {
            "node": "Split Instances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Instances": {
      "main": [
        [
          {
            "node": "Get Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Groups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "main": [
        [
          {
            "node": "Add Instance ID Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Groups": {
      "main": [
        [
          {
            "node": "Add Instance ID Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Instance ID Contacts": {
      "main": [
        [
          {
            "node": "Merge Contacts & Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Instance ID Groups": {
      "main": [
        [
          {
            "node": "Merge Contacts & Groups",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Contacts & Groups": {
      "main": [
        [
          {
            "node": "Normalize Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Contacts": {
      "main": [
        [
          {
            "node": "Upsert Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contacts": {
      "main": [
        [
          {
            "node": "Create Contact Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact Map": {
      "main": [
        [
          {
            "node": "Get Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chats": {
      "main": [
        [
          {
            "node": "Normalize Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chats": {
      "main": [
        [
          {
            "node": "Upsert Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Chats": {
      "main": [
        [
          {
            "node": "Create Chat Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Chat Map": {
      "main": [
        [
          {
            "node": "Split Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Chats": {
      "main": [
        [
          {
            "node": "Check Instance Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Instance Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Instance Name": {
      "main": [
        [
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "main": [
        [
          {
            "node": "Normalize Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Messages": {
      "main": [
        [
          {
            "node": "Upsert Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Messages": {
      "main": [
        [
          {
            "node": "Split Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "09efd7a3e003e016bbd843c1d3a4510babc9cd034508c173e66f4175f21ae569"
  }
}