realtime_sync.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "id": "f4b8f0b8-f26d-449c-8749-1eef966c2457",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -928,
        336
      ],
      "webhookId": "c32acbe0-7e2e-4bc9-b1f3-c671b9ff0990"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($json.body.type || $json.body.event || '').toString().toUpperCase() }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "UPSERT"
            }
          ]
        }
      },
      "id": "fdf18403-0187-47fb-a188-e5311293b1e9",
      "name": "Apenas Novas Mensagens",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -704,
        336
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/instances?name=eq.{{ encodeURIComponent($json.body.instance) }}&select=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "643a120a-5973-4bb8-bbd7-a4db6ee04ae3",
      "name": "Get Instance UUID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -480,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WmRiFsat1TaOUULN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instanceItem = $input.first();\nconst instanceId = instanceItem.json.id;\nif (!instanceId) return [];\n\nconst body = $('Webhook').first().json.body;\nconst data = body.data;\nconst key = data.key || {};\n\nconst remoteJid = key.remoteJid;\nconst isGroup = remoteJid.includes('@g.us');\nconst targetJid = isGroup ? remoteJid : (key.participant || remoteJid);\n\nfunction getPhone(jid) {\n    if (!jid) return null;\n    if (jid.includes('@')) return jid.split('@')[0].split(':')[0];\n    return jid;\n}\n\nconst phone = getPhone(targetJid);\nif (!phone) return [];\n\nconst pic = data.senderPhoto || null;\nconst pushName = data.pushName || key.pushName;\nconst name = pushName || phone;\nconst jidUser = phone;\n\nreturn [{\n    json: {\n        phone: phone,\n        jid_user: jidUser,\n        name: name,\n        push_name: pushName,\n        profile_pic_url: pic,\n        is_group: isGroup,\n        instance_id: instanceId\n    }\n}];"
      },
      "id": "ed24f4af-6172-4c1a-bd09-22d156d4e367",
      "name": "Normalize Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?on_conflict=phone,instance_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.fromEntries(Object.entries($json).filter(([k]) => !['jid_user', 'pairedItem'].includes(k))) }}",
        "options": {}
      },
      "id": "4617ae8c-5390-49e3-9fe8-cecbd242c890",
      "name": "Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -48,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WmRiFsat1TaOUULN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contact = $input.first().json;\nconst instanceId = contact.instance_id;\nconst contactId = contact.id;\n\nconst body = $('Webhook').first().json.body;\nconst data = body.data;\nconst key = data.key || {};\nconst remoteJid = key.remoteJid;\n\nconst messageContent = data.message?.conversation || \n                       data.message?.extendedTextMessage?.text || \n                       data.message?.imageMessage?.caption || \n                       'Media/Other';\n\nconst now = new Date();\n\nreturn [{\n    json: {\n        chat_id: remoteJid,\n        instance_id: instanceId,\n        contact_id: contactId,\n        unread_count: 0,\n        last_message_time: now.toISOString(),\n        last_message: messageContent\n    }\n}];"
      },
      "id": "f7e6f84c-e770-4381-9f40-61fa9b19f7b6",
      "name": "Normalize Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/chats?on_conflict=chat_id,instance_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "08f80298-727b-4596-a357-2a0b4cfb1a35",
      "name": "Upsert Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WmRiFsat1TaOUULN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chat = $input.first().json;\nconst chatId = chat.id;\nconst instanceId = chat.instance_id;\nconst contactId = chat.contact_id;\n\nconst body = $('Webhook').first().json.body;\nconst data = body.data;\nconst key = data.key || {};\nconst messageId = key.id;\n\n// 1. Correção de Status (Evita erro 400 no banco)\nfunction mapStatus(status) {\n    if (!status) return 'sent';\n    const s = String(status).toUpperCase();\n    if (s === 'READ' || s === 'PLAY') return 'read';\n    if (s === 'DELIVERY_ACK') return 'delivered';\n    return 'sent';\n}\n\n// 2. Tipo de Mensagem\nfunction normalizeType(evoType) {\n    const typeMap = {\n        'conversation': 'text',\n        'extendedTextMessage': 'text',\n        'imageMessage': 'image',\n        'videoMessage': 'video',\n        'audioMessage': 'audio',\n        'documentMessage': 'document',\n        'stickerMessage': 'sticker'\n    };\n    return typeMap[evoType] || 'text';\n}\n\nconst msg = data.message || {};\nconst keys = Object.keys(msg);\nlet rawType = data.messageType || keys[0] || 'conversation';\n\n// Prioridades\nif (keys.includes('imageMessage')) rawType = 'imageMessage';\nelse if (keys.includes('videoMessage')) rawType = 'videoMessage';\nelse if (keys.includes('audioMessage')) rawType = 'audioMessage';\nelse if (keys.includes('documentMessage')) rawType = 'documentMessage';\n\nconst messageType = normalizeType(rawType);\n\n// 3. Conteúdo\nconst content = msg.conversation || \n                msg.extendedTextMessage?.text || \n                msg[rawType]?.caption || \n                '';\n\n// 4. Extração SIMPLES da URL (Sem download, sem frescura)\nlet mediaUrl = null;\nconst mediaMsg = msg[rawType];\n\nif (mediaMsg && typeof mediaMsg === 'object') {\n    // Pega a URL direta que o WhatsApp/Evolution entrega\n    mediaUrl = mediaMsg.url || null;\n}\n\nconst contextInfo = msg[rawType]?.contextInfo || data.contextInfo;\nconst quotedMessageId = contextInfo?.stanzaId || null;\n\nlet participant = key.participant || key.remoteJid;\nif (key.participantAlt) participant = key.participantAlt;\n\nreturn [{\n    json: {\n        message_id: messageId,\n        chat_id: key.remoteJid,\n        chat_table_id: chatId,\n        contact_id: contactId,\n        instance_id: instanceId,\n        content: content,\n        from_me: key.fromMe || false,\n        timestamp_msg: data.messageTimestamp ? new Date(data.messageTimestamp * 1000).toISOString() : new Date().toISOString(),\n        status: mapStatus(data.status),\n        message_type: messageType,\n        thumbnail_path: chat.url_foto_perfil,\n        // Salva a URL original direta\n        media_url: mediaUrl,\n        quoted_message_id: quotedMessageId,\n        participant: participant,\n        metadata: { rawMessage: data, webhookSource: 'realtime_simple' }\n    }\n}];"
      },
      "id": "6abd7d87-adac-4c81-ab07-dd2bbdeb9454",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages?on_conflict=message_id,chat_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "c8c4b5de-e1e8-4d6e-86c4-ae3d11835311",
      "name": "Upsert Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        848,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WmRiFsat1TaOUULN",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Apenas Novas Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apenas Novas Mensagens": {
      "main": [
        [
          {
            "node": "Get Instance UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instance UUID": {
      "main": [
        [
          {
            "node": "Normalize Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Contact": {
      "main": [
        [
          {
            "node": "Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contact": {
      "main": [
        [
          {
            "node": "Normalize Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chat": {
      "main": [
        [
          {
            "node": "Upsert Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Chat": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Upsert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "09efd7a3e003e016bbd843c1d3a4510babc9cd034508c173e66f4175f21ae569"
  }
}