sync_instances.json
{
  "name": "sync_instances",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "00c7c2f7-b160-4673-944e-1a48dc812adb",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        528,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://evo.zapneuronz.com.br/instance/fetchInstances",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a7310cbe-c762-41e6-a032-f72069641582",
      "name": "Fetch Instances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        752,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wDjVZ1Dbe26c2YVQ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const supabaseData = [];\nconst FALLBACK_USER_ID = '00000000-0000-0000-0000-000000000000';\n\nfunction mapStatus(status, connectionStatus) {\n    let s = (connectionStatus || status || '').toLowerCase();\n    if (s === 'open' || s === 'connected') return 'connected';\n    if (s === 'close' || s === 'disconnected') return 'disconnected';\n    if (s === 'connecting') return 'connecting';\n    if (s === 'qr' || s === 'qrcode') return 'qr_code';\n    return 'disconnected';\n}\n\nfunction processInstance(inst) {\n    const name = inst.instanceName || inst.name;\n    \n    if (name) {\n        supabaseData.push({\n            name: name,\n            status: mapStatus(inst.status, inst.connectionStatus),\n            evolution_instance_id: inst.instanceId || inst.id || inst.name,\n            user_id: inst.owner || inst.user_id || FALLBACK_USER_ID,\n            phone: inst.ownerJid ? inst.ownerJid.split('@')[0] : null,\n            profile_pic_url: inst.profilePicUrl || inst.profilePictureUrl || null,\n            // Mapped columns (raw_base_config removed as requested)\n            qr_code: inst.qrcode || inst.base64 || null,\n            webhook_url: inst.webhook || (inst.webhookUrl ? inst.webhookUrl : null),\n            settings: (inst.Setting || inst.settings) ? JSON.stringify(inst.Setting || inst.settings) : null,\n        });\n    }\n}\n\nfor (const item of items) {\n    const data = item.json;\n    if (Array.isArray(data)) {\n        for (const subItem of data) {\n            processInstance(subItem.instance || subItem);\n        }\n    } else {\n        processInstance(data.instance || data);\n    }\n}\n\nreturn [{ json: { data: supabaseData } }];"
      },
      "id": "ce813a13-a4a5-4077-ba03-127a257044dd",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://agsvbhzvlwygpnxygtnt.supabase.co/rest/v1/instances?on_conflict=name",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c1fee61f-7c46-4273-95ca-e20cd6a5b5da",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        144
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5giRdkHvRJY0ru7a",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Instances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instances": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b080667a-1b3a-472a-8835-78d69c41349c",
  "meta": {
    "instanceId": "028b54764a5e82c8feecad5f0f0b75a6ce3b8ee71394c70dfbaeff0ffd685c7c"
  },
  "id": "Lfr2k9h4EGLG9Rvb",
  "tags": []
}